.gradient_text__component {
    background-image: linear-gradient(45deg, #ff00ff, #00ffff);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;

    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-size: 200% 200%;
    animation: bg-move 5s ease infinite;
}

@keyframes bg-move {
    0% {
        background-position: 10% 10%
    }

    50% {
        background-position: 90% 90%
    }
    50% {
        background-position: 10% 90%
    }

    100% {
        background-position: 10% 10%
    }
}
