nav.container {
    top: 0;
    position: fixed;
    z-index: 500;
    height: 54px;
    padding: 0px 20px;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    background-color: var(--navigation-bar-bg);

    &>a {
        display: grid;
        place-content: center;
        padding: 0px 35px;
        text-decoration: none;
        text-transform: uppercase;
        transition: background-color 350ms;

        &:hover {
            background-color: var(--gray-2);
        }
    }
}
