:root {
    --black: #000000;
    --gray-1: #151515;
    --gray-2: #252525;
    --gray-2-transparent: #15151588;
    --white: #ffffff;

}

:root {
    --bg-primary: var(--black);
    // --bg-primary: var(--gray-1);
    --text-primary: var(--white);

    --navigation-bar-bg: var(--gray-2-transparent);
    --navigation-bar-bg-hover: var(--gray-1);
}